:root{
    --skin-color:#f75409;
}
/* <div class="containerprogress">
<div class="progress" style="--i: 85;--clr:#43f94a;">
   <h6>85<span>%</span></h6>
   <h5>Html</h5>                                
</div>
</div>
<div class="progress" style="--i: 85;--clr:#43b0f9;">
    <h6>45<span>%</span></h6>
    <h5>Css</h5>  
</div>
<div class="progress" style="--i: 85;--clr:#f943db;">
<h6>56<span>%</span></h6>
<h5>Javascript</h5>  
</div>
<div class="progress" style="--i: 85;--clr:#e7f943;">
<h6>98<span>%</span></h6>
<h5>react</h5>  
</div> */